<div id="<%= dom_id beer_club %>">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <h3>Members</h3>
  <ul>
    <% beer_club.members.each do |member| %>
      <li><%= link_to member.username, member %></li>
    <% end %>
  </ul>

</div>
