<p style="color: green"><%= notice %></p>

<%= render @beer_club %>

<h3>Members</h3>
<ul>
  <% @beer_club.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
</ul>


<% if current_user %>
  <div>
    <%= link_to "Edit this beer club", edit_beer_club_path(@beer_club) %>
    <%= button_to "Destroy this beer club", @beer_club, method: :delete %>
  </div>

  <% if not current_user.beer_clubs.include? @beer_club %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beer club" %>
    <% end %>
  <% end %>
<% end %>