<%= render @beer_club %>

<h3>Members</h3>
<ul>
  <% @beer_club.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
</ul>


<% if current_user %>
  <div>
    <%= link_to "Edit this beer club", edit_beer_club_path(@beer_club) %>
    <%= button_to "Destroy this beer club", @beer_club, method: :delete, class: "btn btn-danger" %>
  </div>

  <% if current_user.beer_clubs.include? @beer_club %>
    <%= form_with(model: @membership, method: :delete) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "End the membership", class: "btn btn-danger" %>
    <% end %>
  <% else %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beer club", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>

