<div>
  <strong>Username:</strong> <%= @user.username %>
</div>

<% if @user.closed %>
  <div class="badge bg-primary">closed</div>
<% end %>

<p>
Has made <%= pluralize(@user.ratings.count, "rating") -%>
<% unless @user.ratings.empty? %>
, average rating <%= round(@user.average_rating) %>
<% end %>
</p>

<p>Favorite style: <%= @user.favorite_style %></p>

<p>Favorite brewery: <%= @user.favorite_brewery %></p>

<% if current_user&.admin %>
  <% button_text = @user.closed? ? "Open " : "Close " %>
  <%= link_to(button_text + "account", toggle_account_status_user_path, data: { turbo_method: :post },
              class: "btn btn-danger") %>
<% end %>

<h4>Member of</h4>
<ul>
  <% @user.beer_clubs.each do |beer_club| %>
  <li><%= link_to beer_club.name, beer_club %></li>
  <% end %>
</ul>

<h4>Ratings</h4>
<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= rating %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: { "turbo-method": :delete } %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
