<p style="color: green"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>Has made <%= pluralize(@user.ratings.count, "rating") %>, average rating <%= @user.average_rating %></p>

<h4>Member of</h4>
<ul>
  <% @user.beer_clubs.each do |beer_club| %>
  <li><%= link_to beer_club.name, beer_club %></li>
  <% end %>
</ul>

<h4>Ratings</h4>
<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= rating %> <%= link_to "Delete", rating, data: { "turbo-method": :delete } %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
