<p style="color: green"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>Has made <%= pluralize(@user.ratings.count, "rating") %>, average rating <%= @user.average_rating %></p>

<p>Favorite style: <%= @user.favorite_style %></p>

<h4>Member of</h4>
<ul>
  <% @user.beer_clubs.each do |beer_club| %>
  <li><%= link_to beer_club.name, beer_club %></li>
  <% end %>
</ul>

<h4>Ratings</h4>
<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= rating %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: { "turbo-method": :delete } %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>