<h2>List of ratings</h2>

<p>Total ratings: <%= @ratings.count %></p>

<table class="table">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Rating</th>
      <th>User</th>
    </tr>
  </thead>
  <% @ratings.each do |rating| %>
    <tr>
      <td><%= link_to rating.beer.name, rating.beer %></td>
      <td><%= rating.score %></td>
      <td><%= link_to rating.user.username, rating.user %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New rating", new_rating_path if current_user %>