<h1>Ratings</h1>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
      <%= render partial: "table", locals: {top_beers: @top_beers, top_breweries: nil, top_styles: nil} %>
    </div>
    <div class="col-sm-4">
      <%= render partial: "table", locals: {top_beers: nil, top_breweries: @top_breweries, top_styles: nil} %>
    </div>
    <div class="col-sm-4">
      <%= render partial: "table", locals: {top_beers: nil, top_breweries: nil, top_styles: @top_styles} %>
    </div>
  </div>
</div>

<h3>Most active users</h3>
<ol>
  <% @top_users.each do |user| %>
    <li><%= link_to user.username, user %> <%= pluralize(user.ratings.count, "rating") %></li>
  <% end %>
</ol>

<h3>Recent ratings</h3>
<ul>
  <% @recent_ratings.each do |rating| %>
    <li><%= link_to rating.beer.name, rating.beer %> <%= rating.score %> <%= rating.created_at %></li>
  <% end %>
</ul>

<%= link_to "New rating", new_rating_path, { class: "btn btn-primary"} if current_user %>