<p><strong>Name: </strong><%= @style.name %></p>
<p><strong>Description: </strong><%= @style.description %></p>

<h3>Beers</h3>
<ul>
  <% @style.beers.each do |beer| %>
  <li><%= beer.name %></li>
  <% end %>
</ul>

<%= edit_and_destroy_buttons(@style) %>

<p><%= link_to "Back to styles", styles_path %></p>