<div id="<%= dom_id @brewery %>">
  <h2>
    <%= @brewery.name %>
    <% unless @brewery.active %>
      <span class="badge bg-secondary">retired</span>
    <% end %>
  </h2>
  <p><em>Established in <%= @brewery.year %></em></p>
  <% cache @brewery do %>
  <p>Number of beers: <%= @brewery.beers.count %></p>

  <h2>Beers</h2>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @brewery.beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.style, beer.style %></td>
        <td><%= round(beer.average_rating) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if !@brewery.ratings.empty? %>
    <p>Brewery has <%= pluralize(@brewery.ratings.count, "rating") %> with an average of <%= round(@brewery.average_rating) %></p>
  <% else %>
    <p>Brewery's beers have not yet been rated!</p>
  <% end %>
  <% end %>

</div>

<div>
  <%= link_to "Change activity", toggle_activity_brewery_path(@brewery.id), data: {turbo_method: "post"}, class: "btn btn-primary mb-2" %>
</div>

<div>
  <%= edit_and_destroy_buttons(@brewery) %>
</div>

<%= link_to "Back to breweries", breweries_path %>
