<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <% if !beer.ratings.empty? %>
    <p>Beer has <%= pluralize(beer.ratings.count, "rating") %> with an average of <%= "%0.3f" % [beer.average_rating] %></p>
  <% else %>
    <p>Beer has not yet been rated!</p>
  <% end %>

</div>
