<h1>Beers</h1>

<div id="beers">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= link_to "Name", beers_path(order: "name") %></th>
        <th><%= link_to "Style", beers_path(order: "style") %></th>
        <th><%= link_to "Brewery", beers_path(order: "brewery") %></th>
        <th><%= link_to "Rating", beers_path(order: "rating") %></th>
      </tr>
    </thead>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.style, beer.style %></td>
        <td><%= link_to beer.brewery, beer.brewery %></td>
        <td><%= round(beer.average_rating) %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New beer", new_beer_path if current_user %>

<p><%= link_to "List of breweries", breweries_path %></p>
