<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>

<% if @weather %>
  <p><strong>The current beer weather in <%= @weather["request"]["query"] %></strong></p>

  <p>Temperature is <%= @weather["current"]["temperature"] %> °C, feels like <%= @weather["current"]["feelslike"] %> °C</p>

  <img src="<%= @weather["current"]["weather_icons"][0] %>" alt="Weather icon">

  <p>Wind speed is <%= "%0.1f" % [@weather["current"]["wind_speed"].to_i / 3.6] %> m/s, direction <%= @weather["current"]["wind_dir"] %> (<%= @weather["current"]["wind_degree"] %>°) </p>
<% end %>

<% if @places %>
  <table>
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <% if field == :name %>
            <td><%= link_to place.name, place_path(place.id) %></td>
          <% else %>
            <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>